{% extends 'layout.html' %}


<!--{% block styles %}{% endblock %}-->


{% block body %}


<div class="app-content content email-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-area-wrapper container-xxl p-0">
        <div class="sidebar-left">
            <div class="sidebar">
                <div class="sidebar-content email-app-sidebar">
                    <div class="email-app-menu">
                        <div class="form-group-compose text-center compose-btn">
                            <button type="button" class="compose-email btn btn-primary w-100" data-bs-backdrop="false"
                                data-bs-toggle="modal" data-bs-target="#compose-mail">
                                Redactar
                            </button>
                        </div>
                        <div class="sidebar-menu-list">
                            <div class="list-group list-group-messages">
                                <a href="#" id="btn_recibidos" class="list-group-item list-group-item-action active">
                                    <i data-feather="mail" class="font-medium-3 me-50"></i>
                                    <span class="align-middle">Recibidos</span>
                                    <span class="badge badge-light-primary rounded-pill float-end">{{received_messages|length}}</span>
                                </a>
                                <a href="#" id="btn_enviados" class="list-group-item list-group-item-action">
                                    <i data-feather="send" class="font-medium-3 me-50"></i>
                                    <span class="align-middle">Enviados</span>
                                    <span class="badge badge-light-warning  rounded-pill float-end">{{sent_messages|length}}</span>
                                </a>

                            </div>
                            <!-- <hr /> -->
                            <h6 class="section-label mt-3 mb-1 px-2">Estados</h6>
                            <div class="list-group list-group-labels">
                                <a href="#" class="list-group-item list-group-item-action"><span
                                        class="bullet bullet-sm bullet-success me-1"></span>Leído</a>
                                <a href="#" class="list-group-item list-group-item-action"><span
                                        class="bullet bullet-sm bullet-danger me-1"></span>No leído</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-right">
            <div class="content-wrapper container-xxl p-0">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="body-content-overlay"></div>
                    <!-- Email list Area -->
                    <div class="email-app-list">
                        <!-- Email search starts -->
                        <div class="app-fixed-search d-flex align-items-center">
                            <div class="sidebar-toggle d-block d-lg-none ms-1">
                                <i data-feather="menu" class="font-medium-5"></i>
                            </div>
                            <div class="d-flex align-content-center justify-content-between w-100">
                                <div class="input-group input-group-merge">
                                    <h3 id="ttl_mensajes">> Mensajes recibidos</h3>
                                </div>
                            </div>
                        </div>
                        <!-- Email search ends -->

                        <!-- Email actions starts -->
                        
                        <!-- Email actions ends -->

                        <!-- Email list starts -->
                        <div class="email-user-list" id="div_recibidos">
                            <ul class="email-media-list" >                               
                                <div id="received_messages" style="display: block;">
                                {% for item in received_messages %}
                                <a href="{{ url_for('inbox.update', messageId=item.id)}}">
                                {% if item.status == 0 %}
                                <li class="d-flex user-mail">
                                {% else %}
                                <li class="d-flex user-mail mail-read">
                                {% endif %}

                                    <div class="mail-left pe-50">
                                        <div class="avatar bg-light-primary">
                                            <span class="avatar-content">{{user_get_by_id(item.user_id_from).user_name[0:2].upper()}}</span>
                                        </div>
                                        
                                    </div>
                                    <div class="mail-body">
                                        <div class="mail-details">
                                            <div class="mail-items">
                                                <h5 class="mb-25">{{user_get_by_id(item.user_id_from).user_name}}</h5>
                                                <span class="text-truncate">{{item.subject}}</span>
                                            </div>
                                            <div class="mail-meta-item">
                                                {% if item.status == 0 %}
                                                <span class="me-50 bullet bullet-danger bullet-sm"></span>
                                                {% else %}
                                                <span class="me-50 bullet bullet-success bullet-sm"></span>
                                                {% endif %}
                                                
                                                <span class="mail-date">{{item.created}}</span>
                                            </div>
                                        </div>
                                        <div class="mail-message">                                            
                                                {{to_html(item.message)}}                                            
                                        </div>
                                    </div>
                                </li>
                            </a>
                                {% endfor %}
                            </div>
                            <!-- mensajes enviados -->
                            <div id="sent_messages" style="display: none;">
                                {% for item in sent_messages %}                                
                                {% if item.status == 0 %}
                                <li class="d-flex user-mail">
                                {% else %}
                                <li class="d-flex user-mail mail-read sent_messages">
                                {% endif %}

                                    <div class="mail-left pe-50">
                                        <div class="avatar bg-light-warning">
                                            <span class="avatar-content">{{user_get_by_id(item.user_id_from).user_name[0:2].upper()}}</span>
                                        </div>
                                        
                                    </div>
                                    <div class="mail-body">
                                        <div class="mail-details">
                                            <div class="mail-items">
                                                <h5 class="mb-25">{{user_get_by_id(item.user_id_from).user_name}}</h5>
                                                <span class="text-truncate">{{item.subject}}</span>
                                            </div>
                                            <div class="mail-meta-item">
                                                {% if item.status == 0 %}
                                                <span class="me-50 bullet bullet-danger bullet-sm"></span>
                                                {% else %}
                                                <span class="me-50 bullet bullet-success bullet-sm"></span>
                                                {% endif %}
                                                
                                                <span class="mail-date">{{item.created}}</span>
                                            </div>
                                        </div>
                                        <div class="mail-message">                                            
                                                {{to_html(item.message)}}                                            
                                        </div>
                                    </div>
                                </li>                            
                                {% endfor %}
                            </div>

                            </ul>
                            <div class="no-results">
                                <h5>No se encontraron mensajes</h5>
                            </div>
                        </div>


                        
                        <!-- Email list ends -->
                    </div>
                    <!--/ Email list Area -->
                    <!-- Detailed Email View -->
                    
                    <!--/ Detailed Email View -->

                    <!-- compose email -->
                    <div class="modal modal-sticky" id="compose-mail" data-bs-keyboard="false">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content p-0">
                                <div class="modal-header">
                                    <h5 class="modal-title">Redactar correo</h5>
                                    <div class="modal-actions">
                                        <a href="#" class="text-body me-75"><i data-feather="minus"></i></a>
                                        <a href="#" class="text-body me-75 compose-maximize"><i
                                                data-feather="maximize-2"></i></a>
                                        <a class="text-body" href="#" data-bs-dismiss="modal" aria-label="Close"><i
                                                data-feather="x"></i></a>
                                    </div>
                                </div>
                                <div class="modal-body flex-grow-1 p-0">
                                    <form class="compose-form" method="post" novalidate>
                                        {{ form.hidden_tag() }}
                                        <div class="compose-mail-form-field select2-primary">
                                            {{ form.users.label(class="form-label") }}
                                            <div class="flex-grow-1">
                                                {{ form.users(class="select2 form-select") }}
                                            </div>
                                            {% for error in form.users.errors %}
                                            <span class="error">{{ error }}</span>
                                            {% endfor %}
                                        </div>

                                        <div class="compose-mail-form-field">
                                            {{ form.subject.label(class="form-label") }}
                                            {{ form.subject(class="form-control", placeholder="Asunto") }}
                                            {% for error in form.subject.errors %}
                                            <span class="error">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {{ form.message(class="form-control", placeholder="Asunto") }}
                                        <div id="message-editor">
                                            <div class="editor" data-placeholder="Type message..."></div>
                                            {% for error in form.message.errors %}
                                            <span class="error">{{ error }}</span>
                                            {% endfor %}
                                            <div class="compose-editor-toolbar">
                                                <span class="ql-formats me-0">
                                                    <select class="ql-font">
                                                        <option selected>Sailec Light</option>
                                                        <option value="sofia">Sofia Pro</option>
                                                        <option value="slabo">Slabo 27px</option>
                                                        <option value="roboto">Roboto Slab</option>
                                                        <option value="inconsolata">Inconsolata</option>
                                                        <option value="ubuntu">Ubuntu Mono</option>
                                                    </select>
                                                </span>
                                                <span class="ql-formats me-0">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                    <button class="ql-link"></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="compose-footer-wrapper">
                                            <div class="btn-wrapper d-flex align-items-center">
                                                <div class="btn-group dropup me-1">
                                                    <button id="btn_enviar_mensaje" type="submit"
                                                        class="btn btn-primary">Enviar
                                                        mensaje</button>
                                                </div>

                                            </div>
                                            <div class="footer-action d-flex align-items-center">
                                                <i data-feather="trash" class="font-medium-2 cursor-pointer"
                                                    data-bs-dismiss="modal"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ compose email -->

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}

<script>
    $(document).ready(function () {
        $('#users').select2();

        $('#btn_enviar_mensaje').click(function (e) {
            let mensaje = $('.ql-editor').html();
            document.getElementById("message").value = mensaje;
        });


        $('#btn_enviados').click(function (e) {
            document.getElementById("ttl_mensajes").innerHTML = '> Mensajes enviados';
            var x = document.getElementById("received_messages");
            var y = document.getElementById("sent_messages");
            y.style.display = "block";           
            x.style.display = "none";
        });

        $('#btn_recibidos').click(function (e) {
            document.getElementById("ttl_mensajes").innerHTML = '> Mensajes recibidos';
            var x = document.getElementById("sent_messages");
            var y = document.getElementById("received_messages");
            y.style.display = "block";           
            x.style.display = "none";
            
        });


    });
</script>



{% endblock %}